.App {
  width: 85%;
  margin: 10vh auto;
  text-align: center;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #fafafa;
}

.panel {
  height: 95px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  margin: 0;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin: 0 47px 0 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.profileIcon {
  font-size: 45px;
  color: #0290ff;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  padding: 9px;
}

.categoryFilter {
  margin: 20px auto;
}

.select {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 5px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: -0.15px;
}

.book {
  width: 100%;
  border-radius: 4px;
  margin: 15px auto;
  padding: 15px 20px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-row span {
  cursor: pointer;
  height: 19px;
  border: none;
  background: none;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin: 10px;
}
.btn-row span:first-child {
  margin-left: 0;
}

.right-part {
  display: flex;
}

.progress-status {
  margin-left: 14px;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  text-align: left;
}

.textPercent {
  height: 39px;
  font-size: 30px;
  margin: 0;
}
.chart {
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 60px;
}

.circle {
  stroke: #4386bf;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle {
  stroke: #ddd;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}
.completed {
  height: 18px;
  opacity: 0.5;
  font-size: 14px;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
